.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-block: 30px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc_title {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 700;
}

.award_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
