.wrapper {
  padding-block: 40px;
}

.title {
  color: var(--accent-color);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.search_block {
  padding-block: 40px;
}

.list {
  display: flex;
  width: 100%;
  max-width: 540px;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 20px;
}
